---
layout: page
---

<!--
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
-->

<div class="header">
  <p>
    Women in Tech
  @ Lehman College
  </p>
</div>

<div class="mission">
  <h2>Mission</h2>
  <p>
    Our mission is to create a nurturing environment that will provide academic, professional, and emotional support to women interested in technology and create more opportunities for women at Lehman to succeed in a digital world.
  </p>

</div>

<div class="membership">

  <h2>Membership</h2>
  <p>
    WiTech is open to any member of the Lehman College community. Please complete the sign up form below to receive more information on becoming a member.
  </p>

    <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
  <form action="https://github.us17.list-manage.com/subscribe/post?u=c1e001ffff730a1aad02b6ee6&amp;id=46e78b33b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Subscribe to our mailing list</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c1e001ffff730a1aad02b6ee6_46e78b33b4" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
  </div>
  <!--End mc_embed_signup-->

  <p>*Active membership is defined by signing up on the CollegiateLink site and "WiTech Points" structure. To check your membership status, <a href="/membership.md">click here</a>.</p>

</div> <!-- end membership -->

<div id="events">
  <h2>Upcoming Events</h2>
  <iframe src="https://calendar.google.com/calendar/embed?src=lcwitech%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

  <h4>Want to see an event from WiSTEM? Let us know what you're looking for and we'll work on bringing it to Lehman!</h4>
</div>

<div id="board">
  <h2>Executive board</h2>
</div>

<div id="news" class="posts">
  {% for post in site.posts limit: 3 %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div id="contact">
  <h2>Contact WiTech</h2>
  <p>Our office hours are indicated on the calendar below. Please stop by during these times if you would like to speak to anyone in the chapter.

You are also welcome to chat with us after meetings and events or send us an email at wistemlehman@gmail.com</p>
</div>
