<div class="top-menu">
              <p>
                <span class="left">
                  <a href="#"><i class="fa fa-map-marker"></i>New South Wales, Sydney</a>
                  <a href="#"><i class="fa fa-mobile-phone"></i>+9 34476 3244</a>
                  <a href="#"><i class="fa fa-envelope"></i>email@example.com</a>
              	</span>
                <span class="right hidden-sm-down">                          
                  
                  
                  
                                              
              	</span>
              </p>
            </div>