
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$sand: #F2EFEA;
$orange: #FC7753;
$teal: #66D7D1;
$purpleBlue: #403D58;
$favGreen: #DBD56E;
$regalBlue: #086788;


// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
